.section-padding {
    padding: 60px 0;
  }

.section-header {
margin-bottom: 30px;
}


.section-header p {
    text: center;
    font-weight: 400;
    line-height: 26px;
  }
  
.section-title {
    font-size: 30px;
    color: #222222;
    display: inline-block;
    font-weight: 700;
    position: relative;
  }
  
.shape {
    height: 1px;
    margin: 0 auto 30px;
    position: relative;
    width: 60px;
    background-color: #F63854;
  }
  
.padding-none {
    padding: 0px;
  }

/* Services Item */
.services-item {
    background-color: white;
    height: 200px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 15px 0;
    box-shadow: 0 0 12px #F4F4F4;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .services-item:hover .icon {
    color: white;
  }
  
  .services-item:hover {
    background-color: rgb(221, 214, 214);
    }

  .services-item .icon {
    border: 1px solid #f1f1f1;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 0 auto;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .icon i {
    font-size: 30px;
    color: #F63854;
    line-height: 70px;
    transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    -webkit-transition: all 0.3s ease-in-out 0s;
    -o-transition: all 0.3s ease-in-out 0s;
  }
  
  .services-item .services-content h3 {
    margin-top: 10px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  
  .services-item .services-content h3 a {
    font-size: 16px;
    color: #585b60;
  }
  
  .services-item .services-content h3 a:hover {
    color: #F63854;
  }
  
  .services-item:hover {
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
  }
  
  .services-item:hover .icon {
    background: #F63854;
  }
  
  .services-item:hover .icon i {
    color: #fff;
  }
  
  #service {
    position: relative;
  }

.col-md-6 {
    background-color: white;
}

