.navBar {
    background-color: #f4f7fa;
}

.logo-flex {
    display: flex;
    align-items: center;
  }
  
.logo-flex .flex {
    display: flex;
    gap: 4px;
}

.logo-font-bule{
    
}

.logo-font-yellow{
    color: rgb(255 182 42);
}
.menuList {
    display: flex;
    align-items: center;
    justify-content: center;
}