.contact-section {
    position: relative;
    padding-bottom: 70px !important;
    padding-top: 70px !important;
  }

.contact-text{
    color: rgb(1, 1, 1);
    
}

.contact-text{
  color: rgb(0, 0, 0);
  text-align: center;
}

.contact-text>h1{
  font-size: calc(1.375rem + 1.5vw);

}
.contact-social-links {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  padding-top: 15px !important;
  gap: 15px;
  padding-inline-start: 0 !important;
}

.contact-social-icons {
    position: relative !important;
    display: inline-block !important;
    width: 70px !important;
    height: 70px !important;
    text-align: center !important;
    font-size: 2em !important;
    line-height: 2em !important;
    background: rgba(110, 110, 110, 0.972) !important;
    border-radius: 50% !important;
    transition: 0.5s !important;
  }
  
  .contact-social-icons::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: #2a68ff;
    transition: 0.5s;
    transform: scale(0.9);
    z-index: -1;
  }

  .contact-social-icons:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px #2a68ff;
  }
  
  .contact-social-icons:hover {
    color: #2a68ff;
    box-shadow: 0 0 20px #2a68ff;
    text-shadow: 0 0 20px #2a68ff;
  }

  .contact-icons {
    text-align: center;
    padding: 0 15px;
  }


  .contact-social-icons {
    display: flex !important;
    justify-content: center;
    align-items: center;

  }
  
  .icon-color {
    color: #ffffff !important;
  } 